---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Project from "../../../components/Project.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    let tags:string[] = [];
    projects.forEach(proj => {
        proj.data.tags.forEach(tag => {
            if (!tags.includes(tag)) {
                tags.push(tag);
            }
        })
    })

    return tags.map(tag => {
        return {params: {tag}}
    });
}

const { tag } = Astro.params;
const posts = await getCollection("projects", (p) => p.data.tags.includes(tag));

if (!posts)
    return Astro.redirect("/projects");
---
<Layout title={"Tag: " + tag} category="Projects" categoryUrl="/projects" description="Content sorted by a tag" metaDesc="Content sorted by a tag">
    <main>
        <ul>
            {
                posts.map((post) => (
                        <Project
                                name={post.data.title}
                                desc={post.data.description}
                                page={"/project/" + post.slug}
                        />
                ))
            }
        </ul>
    </main>
</Layout>

<style>
    footer {
        display: flex;
        justify-content: space-between;
    }
</style>