---
import { getEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
const posts = await getCollection("blog");
---

<Layout title="PanJohnny’s blog" description="Place where I write about stuff">
    <main>
        <div>
            <p>
                Welcome to the place where I write about things, not so often... <a href="/rss.xml"
                ><i class="fa-solid fa-rss" title="RSS feed"></i></a
            >
            </p>
        </div>

        {
            posts.sort(blog => -Date.parse(blog.data.pubDate)).map((post) => (
                <BlogPost
                    title={post.data.title}
                    date={post.data.pubDate}
                    description={post.data.description}
                    id={post.slug}
                />
            ))
        }
    </main>
</Layout>

<style>
    footer {
        display: flex;
        justify-content: space-between;
    }
</style>
