---
import Layout from "../../layouts/Layout.astro";
import Interpreter from "./resources/catinterpreter.astro";
---
<Layout title="CatLang Demo" description="Demo of cat emoji esoteric language">
    <div class="wrapper">
        <Interpreter />
    </div>
    <style>
        .wrapper {
            margin: 2em;
        }
    </style>
</Layout>