---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Not found">
    <main>
        <h1>404</h1>
        <img src="http://http.cat/404" alt="funny cat image with 404 code on it" width="20%" height="20%"> <br />
        Hey bud, this page was not found. It probably means that this website is under development and I haven't implemented some stuff from the old stuff yet. K have a nice day.
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>