---
import {Image} from "astro:assets";
import Layout from "../layouts/Layout.astro";
import headshot from "../assets/baw.jpg";
---
<Layout title="404"
        description="The requested page was not found"
        metaDesc="The requested page was not found"
        metaTags={["Jan Štefanča", "PanJohnny"]} i18n={true}>
    <section id="hero">
        <div class="content">
            <div class="title">
                <Image src={headshot} alt="cat in a flower field" width={300} class="headshot" loading="lazy" aria-hidden/>
                <h1>Page not found</h1>
                <p>Go <a href="/">Home</a></p>
                <code>HTTP status code: 404</code>
            </div>
        </div>
    </section>
</Layout>

<style>
    .content {
        padding-top: 30px;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .headshot {
        border-radius: 12px;
    }
</style>