---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = await Astro.glob("./posts/_/*.md");
---

<Layout title="PanJohnny's blog" description="Place where I write about stuff">
    <header>
        <h1>Blog posts</h1>
    </header>
    <main>
        {
            posts.map((post) => (
                <BlogPost
                    title={post.frontmatter.title}
                    date={post.frontmatter.date}
                    description={post.frontmatter.description}
                    id={post.frontmatter.id}
                />
            ))
        }
    </main>
    <footer>
        <a href="/">Back to home page</a>
        <a href="/posts/latest">Latest blog</a>
    </footer>
</Layout>

<style>
    header {
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: row;
    }

    footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 96vw;
        margin: 1em;
        margin-bottom: 0.5em;
    }
</style>
