---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";

const posts = await Astro.glob("./posts/_/*.md");
---

<Layout title="PanJohnny's blog" description="Place where I write about stuff">
    <header>
        <h1>Blog posts</h1>
        <dialog open={!Astro.url.searchParams.has("close")}>
            <article>
              <header>
                <a href="?close" aria-label="Close" class="close"></a>
                Notice
              </header>
              <p>
            This section of the page is not fully done yet.
                </p>
            </article>
          </dialog>
    </header>
    <main>
        {
            posts.map((post) => (
                <BlogPost
                    title={post.frontmatter.title}
                    date={post.frontmatter.date}
                    description={post.frontmatter.description}
                    id={post.frontmatter.id}
                />
            ))
        }
    </main>
    <footer>
        <a href="/" role="button" class="secondary"><i class="fa-solid fa-house"></i> Home</a>
        <a href="/posts/latest" role="button" class="secondary">Latest blog</a>
    </footer>
</Layout>

<style>
    footer {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }
</style>