---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import cat from "../assets/cat.jpg";
import HeadingLinker from "../components/HeadingLinker.astro";
---

<Layout
    title="PanJohnny's website"
    description="Website that belongs to guy who codes stuff"
    theme={Astro.url.searchParams.has("dark")
        ? "dark"
        : Astro.url.searchParams.has("light")
        ? "light"
        : ""}
>
    <main>
        <div class="container">
            <span class="nowrap">BEWARE! This page is under construction.</span>
            <div class="part">
                <h2 id="aboutme">About me</h2>
                <p>
                    I am an ordinary student with interests in computer science.
                    As many other people, I started with <a
                        href="/projects/tag/minecraft">Minecraft</a
                    >, I've made many plugins and mods. After teaching myself
                    Java, witht he help of many online resources and a physicall
                    book, I looked into <a href="/projects/tag/web"
                        >web development</a
                    >. This website is created with JS/TS framework <a
                        href="https://astro.build">Astro</a
                    >. Older versions were made using Express.js, but I like
                    Astro more.
                </p>
                <Image
                    src={cat}
                    alt="my cat in a flower field"
                    style={"max-width: 80%; height: auto;"}
                />
            </div>

            <div class="part">
                <h2 id="projects">Projects</h2><div>
                    <Project
                        name="Baka4J"
                        desc="School system Bakaláři java api wrapper"
                        page="/projects/baka4j"
                    />
                    <Project
                        name="No Arrows In You!"
                        desc="A Minecraft mod that allows player to modify visual aspects of the game"
                        page="/projects/naiy"
                    />
                    <Project
                        name="Cat Emoji Esoteric Language"
                        desc="Programming language inspired by brainf*ck, with cat emojis"
                        page="/projects/catemojiesolang"
                    />
                    <Project
                        name="Logger"
                        desc="I created my own logger on System.Logger to practice logging"
                        page="/projects/naiy"
                    />
                    <div>
                        <a href="/projects">More…</a>
                    </div>
                </div>
            </div>

            <div class="part">
                <h2 id="contact">Contact</h2>
                <p>
                    <i class="fa-brands fa-twitter"></i>
                    <a href="https://twitter.com/PanJohnny1">Twitter</a>
                </p>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:devstefancz@gmail.com">Email</a>
                </p>
                <p>
                    <i class="fa-brands fa-discord"></i> Discord <code
                        >PanJohnny#5594</code
                    >
                </p>
            </div>
        </div>
    </main>
</Layout>

<footer class="center-text">
    <span class="nowrap">Created with ♥ by PanJohnny</span> | <span
        class="nowrap"
        >Icons from <i class="fa-solid fa-font-awesome"></i> Font Awesome</span
    >
</footer>

<HeadingLinker levels={["h2"]} />

<style>
    .nowrap {
        white-space: nowrap;
    }

    .center-text {
        text-align: center;
    }

    img {
        border-radius: 12px;
    }

    .container {
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .part {
        margin-bottom: 10em;
    }
</style>
