---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="PanJohnny's website"
    description="Website that belongs to guy who codes stuff"
    ><header>
        <h1>PanJohnny's website</h1>
    </header>
    <main>
        This website is not released yet... I am working on it tho!
    </main>
</Layout>

<style>
    body {
        text-align: center;
    }
</style>