---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="PanJohnny's website"
    description="Website that belongs to guy who codes stuff"
    ><header>
        <h1>PanJohnny's website</h1>
    </header>
    <main>
        <i>This is my website and it is under development</i>
        <h2>Working stuff:</h2>
        <a href="blog">Blog</a>

    </main>
    <footer>
        <a href="about">About me</a>
        <a href="contact">Contact</a>
        <a href="blog">Blog</a>
        <a href="projects">Other projects</a>
        <a href="https://github.com/PanJohnny/Website">Open this on GitHub</a>
        <a href="misc">Misc</a>
    </footer>
</Layout>

<style>
    header {
        margin-top: 0px;
        padding-top: 1px;
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-direction: row;
    }
    main {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    @media (prefers-color-scheme: dark) {
        a {
            color: lightskyblue;
            text-decoration-color: orangered;
        }
        body {
            color: gainsboro;
            background-color: black;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 96vw;
        margin: 1em;
        margin-bottom: 0.5em;
    }
</style>
