---
import Layout from "../layouts/Layout.astro";
import HeadingLinker from "../components/HeadingLinker.astro";
import Project from "../components/Project.astro";
---

<Layout
        title="John's portfolio"
        description="Welcome to my website"
        metaDesc="Hi, my name is Jan Štefanča and this is my personal website. You can find information about me and my projects here. I hope you will find something interesting."
        metaTags={["PanJohnny", "portfolio", "Jan Štefanča", "Honza Štefanča"]}
        i18n
>
    <div class="right">
        <div class="category" style="background-color: #f6963e">
            <h2>About me</h2>
            <div class="expanded">
                <p>
                    I am a student of an eight-year grammar school with a passion for programming and developing
                    open-source projects. I mainly focus on creating web applications, which I share on my GitHub. I am
                    experienced in technologies like NodeJS, PHP, and SQL, and I actively work on improving my skills in
                    full-stack development. Thanks to my openness to feedback, I am constantly improving, and teamwork
                    comes naturally to me. My goal is to become a professional developer and gain as much real-world
                    experience as possible to prepare for a career in IT.
                </p>
            </div>
        </div>
        <div class="category" style="background-color: #ff6c55">
            <h2>Projects</h2>
            <div>
                <Project name="GymLingo"
                         desc="School project where I created a web application for practicing Polish words"
                         page="/projects/gymlingo-czech-polish-learning-tool"/>
                <Project name="Obsidian Online"
                         desc="Web app for viewing obsidian notes saved in GitHub repository directly in the browser"
                         page="/s/obsidian-online"/>
                <Project name="Baka4J"
                         desc="A Java library for communicating with the popular Czech school system Bakaláři"
                         page="/projects/baka4j"/>
                <Project name="Other projects..." desc="Take a look at other projects I have created"
                         page="/projects"/>
            </div>
        </div>
        <div class="category" style="background-color: #33658A; color: #fff8f0;">
            <h2>Quick bits</h2>
            <div>
                <Project
                        name="MHD Game"
                        desc="Game about using Pragues public transport to visit random stops"
                        page="/demo/prague"
                />
                <Project
                        name="CatEmojiEsoLang"
                        desc="Esoteric programming language based on cat emoji. Rewritten to JavaScript from Java."
                        page="/demo/cats"
                />
                <Project
                        name="Prší"
                        desc="Robot, which assists a player in the card game Prší"
                        page="/prsi/index.html"
                />
            </div>
        </div>
    </div>
</Layout>

<HeadingLinker levels={["h2"]} noIcons/>

<script>
    document.querySelectorAll(".category").forEach((category) => {
        category.addEventListener("click", () => {
            let local = category.querySelector("div");
            document.querySelectorAll(".expanded").forEach((expanded) => {
                // Remove the expanded class
                // Only if it is not the clicked category
                if (expanded !== local) {
                    expanded.classList.remove("expanded");
                }
            });
            // Add expanded class to the clicked category
            local.classList.add("expanded");
            setTimeout(() => {
                category.scrollIntoView({behavior: "smooth"});
            }, 200);
        });

        // Set animation duration based on the height of the expanded div
        category.querySelector("div").style.animationDuration = `${category.querySelector("div").scrollHeight / 100}px`;
    });
</script>