---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PanJohnny's website" description="Website that belongs to guy who codes stuff">
    <main>
        <h1>
            Welcome to my website
        </h1>

        <div>
            This is my website and it is under development
        </div>

        <a href="blog">Check out my blog</a>
    </main>
</Layout>