---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="PanJohnny's website"
    description="Website that belongs to guy who codes stuff"
    theme={Astro.url.searchParams.has("dark")
        ? "dark"
        : Astro.url.searchParams.has("light")
        ? "light"
        : ""}
>
    <header>
        <nav>
            <ul>
                <li>
                    <a
                        href="?dark"
                        class={"secondary" +
                            (Astro.url.searchParams.has("dark")
                                ? " invisible"
                                : Astro.url.searchParams.has("light")
                                ? ""
                                : " dark-t")}
                        ><i class="fa-solid fa-moon"></i>
                    </a>
                </li>
                <li>
                    <a
                        href="?light"
                        class={"secondary" +
                            (Astro.url.searchParams.has("light")
                                ? " invisible"
                                : Astro.url.searchParams.has("dark")
                                ? ""
                                : " light-t")}
                        ><i class="fa-solid fa-sun"></i>
                    </a>
                </li>
            </ul>
            <ul>
                <li><h1 class="no-margin">PanJohnny's website</h1></li>
            </ul>
            <ul>
                <li>
                    <a href="https://github.com/PanJohnny" class="secondary"
                        ><i class="fa-brands fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="/blog" class="secondary"><i class="fa-solid fa-book"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="center-text">
        <div class="part">
            <h1>Hi, I am <span class="accent">John</span></h1>
            <p>
                I am <span class="accent">student</span> who likes to code stuff
                in free time.
            </p>
            <div>
                <h2>About me</h2>
                <p>
                    I study in Prague, Czech Republic. Programming is my hobby,
                    but hopefully someday it'll be my job.
                </p>
                <table role="grid">
                    <tr>
                        <td><b>Pets</b></td>
                        <td>🐱Cat & 🐶Doggo</td>
                    </tr>
                    <tr>
                        <td><b>Sport</b></td>
                        <td>🏹Archery</td>
                    </tr>
                    <tr>
                        <td><b>Hobby</b></td>
                        <td>🕺Dancin'</td>
                    </tr>
                </table>
            </div>
            <div class="scroll">
                <a href="#projects">My projects</a>
            </div>
        </div>
        <div class="part" id="projects">
            <h1>My <span class="accent">projects</span></h1>
            <div class="grid">
                <Project
                    name="Baka4J"
                    desc="School system Bakaláři java api wrapper"
                    page="/projects/baka4j"
                />
                <Project
                    name="No Arrows In You!"
                    desc="A Minecraft mod that allows player to modify visual aspects of the game"
                    page="/projects/naiy"
                />
                <Project
                    name="Cat Emoji Esoteric Language"
                    desc="Programming language inspired by brainf*ck, with cat emojis"
                    page="/projects/catemojiesolang"
                />
                <Project
                    name="Logger"
                    desc="I created my own logger on System.Logger to practice logging"
                    page="/projects/naiy"
                />
                <a href="/projects">More…</a>
            </div>
            <div class="scroll">
                <a href="#contact">Contact me</a>
            </div>
        </div>

        <div class="part" id="contact">
            <h1><span class="accent">Contact</span> me</h1>
            <p>
                <a href="https://twitter.com/PanJohnny1" role="button"
                    ><i class="fa-brands fa-twitter"></i> Twitter</a
                >
            </p>
            <p>
                <a href="mailto:devstefancz@gmail.com" role="button"
                    ><i class="fa-solid fa-envelope"></i> Email</a
                >
            </p>
            <p role="button">
                <i class="fa-brands fa-discord"></i> Discord <code
                    >PanJohnny#5594</code
                >
            </p>
        </div>
    </main>

    <footer class="center-text">
        Created with ♥ by PanJohnny | Icons by <i class="fa-solid fa-font-awesome"></i> Font Awesome
    </footer>
</Layout>

<style>
    .center-text {
        text-align: center;
    }

    .invisible {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        .dark-t {
            display: none;
        }
    }

    @media (prefers-color-scheme: light) {
        .l-t {
            display: none;
        }
    }

    .accent {
        color: #ff7300;
    }

    .part:not(:last-child) {
        height: 100vh;
    }

    .part:last-child {
        height: 80vh;
    }

    .scroll {
        color: inherit;
        border-width: 1px;
        border-color: var(--primary);
        border-style: solid;
        border-radius: 15px;
        margin: 2em;
    }

    .scroll > a {
        color: inherit;
    }

    .scroll::after {
        content: "\A↓";
        white-space: pre;
    }
</style>
