---
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
import cat from "../assets/cat.jpg";
import HeadingLinker from "../components/HeadingLinker.astro";
import { Image } from "astro:assets";
---

<Layout
    title="PanJohnny’s website"
    description="Hey, my name is Jan Štefanča. I am a student who codes stuff. Check out my portfolio of opensource projects."
    theme={Astro.url.searchParams.has("dark")
        ? "dark"
        : Astro.url.searchParams.has("light")
          ? "light"
          : ""}
>
    <main>
        <div class="container">
            <div class="part">
                <h2 id="aboutme">About me</h2>
                <p>
                    Hey, my name is Jan Štefanča. I am a student who codes
                    stuff. Check out this website and the portfolio that I have
                    managed to create in the (not so) few years that I code. I
                    have both cat and dog at home, but I am more of a cat
                    person. Enjoy this picture of my cat :)
                </p>
                <Image
                    src={cat}
                    alt="my cat in a flower field"
                    style={"max-width: 80%; max-height: 70vh; width: auto; height: auto;"}
                />
            </div>

            <div class="part">
                <h2 id="projects">Projects</h2><div>
                    <Project
                        name="GymLingo"
                        desc="A huge school project that serves as a tool for practicing polish"
                        page="/projects/gymlingo-czech-polish-learning-tool"
                    />
                    <Project
                        name="Baka4J"
                        desc="School system Bakaláři java API wrapper"
                        page="/projects/baka4j"
                    />
                    <Project
                        name="No Arrows In You!"
                        desc="A Minecraft mod that allows player to modify visual aspects of the game"
                        page="/projects/naiy"
                    />
                    <Project
                        name="Cat Emoji Esoteric Language"
                        desc="Programming language inspired by brainf*ck, with cat emojis"
                        page="/projects/cat-emoji-esoteric-language"
                    />
                    <Project
                        name="More projects"
                        desc="Check out my other projects"
                        page="/projects/"
                    />
                </div>
            </div>

            <div class="part">
                <h2 id="contact">Contact</h2>
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:janstefanca@gmail.com">Email</a>
                </p>
            </div>

            <div class="part">
                <h2 id="quick-showcase">Quick showcase</h2>
                <p>Demos, that you can check out</p>
                <Project
                        name="MHD Hra"
                        desc="Hra o ježdění po Praze a prozkoumávání náhodných zastávek MHD/A game about using Pragues public transport to visit random stops"
                        page="/demo/prague"
                    />
                <Project
                        name="Cat Emoji Esoteric Language Demo"
                        desc="This demo is a JavaScript based rewrite of the original project"
                        page="/demo/cats"
                    />
            </div>
        </div>
    </main>
</Layout>

<HeadingLinker levels={["h2"]} noIcons/>

<style>
    img {
        border-radius: 12px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .part {
        display: block;
        margin: 10%;
        margin-top: 0px;
    }
</style>
