---
import Layout from "../../layouts/Layout.astro";

// TODO

return Astro.redirect("https://github.com/PanJohnny")
---

<Layout title="PanJohnny's projects" description="Projects that I made">
    <main>
        <h1>
            Projects
        </h1>

        <div>
            
        </div>
    </main>
</Layout>